<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Cat Game!{% endblock %}</title>
    <link rel="stylesheet" href="/static/app.css">
  </head>
  
  <body>
    
    <div class="navbar">
      {% block navbar %}{% endblock %}
    </div>
    
    <div class="flash-messages">
      {% for message in get_flashed_messages(with_categories=True) %}
        <p class="{{message[0]}}">{{message[1]}}</p>
      {% endfor %}
    </div>

    <div class="page-content">
      {% block content %}<p>If you see this, you haven't overwritten the content block properly.</p>{% endblock %}
    </div>

  </body>

</html>