{% extends 'navbar.html' %}

{% block content %}

<div class="histories">
    <h1>Run History</h1>
    <table>
        <tbody>
            {% for history in histories %}
                <tr>
                    <td class="history_image"><img src="{{history.image_url}}"></td>
                    <td class="history_player_hp">{{history.player_health}}</td>
                    <td class="history_enemy_hp">{{history.enemy_health}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}