{% extends 'navbar.html' %}

{% block content %}

<h1>Welcome to Cat Game!</h1>
<p>Cat Game is a time-wasting turn-based game about cats!<br>
And what's more fun than cats? Nothing, that's what.<br>
</p>
<p>The goal of the game is simple-- defeat the enemy before they defeat you! It's that easy.<br>
Just keep clicking the "attack" button, and if your health reaches zero, you lose.<br>
To be honest, there is <b>no skill to this game</b>; it is ALL luck.
</p>

<h3>Click here to begin a new game!</h3>
<form action="/game/restart" method="post">
    <button>Start</button>
</form>
{% endblock %}