{% extends 'navbar.html' %}

{% block content %}
<div>
  
  <h1>Create a user:</h1>
  <a href="/login">Have an account already? Click here to log in.</a>
  <form action="/register" method="POST">
      {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    
      {% for field in form
            if field.widget.input_type != 'hidden' %}
    
        <p>
          {{ field.label }}
          {{ field }}
    
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        </p>
    
      {% endfor %}
    
      <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}